.maintenance {
    background-color: var(--color-background-content);
    height: 100%;
    color: var(--color-text-content);
    display: flex;
    justify-content: center;
}

.Table {
    border-collapse: collapse;
    width: 80%;
}

.Table caption {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    border-bottom: 0.2em solid var(--color-secundary);
    margin-bottom: 0.5em;
}

.Table th {
    color: var(--color-title-in-primary);
    background-color: var(--color-secundary);
}

.Table tr:nth-child(even) {
    background-color: var(--color-background-primary);
}

.Table tr:nth-child(odd) {
    background-color: var(--color-primary);
}

.Table td {
    text-align: center;
}