.sidebar-container {
    z-index: 10;
    width: 250px;
    height: 100vh;
    background: var(--color-background-secundary);
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    z-index: 10;
    width: 100%;
    height: 62px;
    font-size: 1.2rem;
    padding: 1.5rem;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 62px;
    left: 0;
    overflow-x: hidden;
}

.sidebar-container ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: flex-start;
}

.sidebar-container li {
    width: 100%;
    background: var(--color-button-background);
    border-bottom: var(--color-line-in-white);
    transition: background 0.2s;
}

.sidebar-container li:hover {
    background: var(--color-button-hover);
}

.sidebar-container a {
    padding: 0 1rem;
    color: var(--color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-container .nav-button {
    width: auto;
    height: 34px;
}

.sidebar-container .navbutton-nav {
    max-width: 100%;
    height: 100%;    
}


.sidebar-container .button-item {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidebar-container .button-name {
    width: 100%;
    height: 100%;
}

.sidebar-container .button-name .icon-button {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.dropdown {
    width: 100%;
}

.menu-item {
    width: 100%;
}

.item-name {
    width: 100%;
    height: 34px;
}