*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-primary);
    background: var(--color-background-primary);
}

body, input, button, textarea {
    font: 600 1.8rem Poppins, sans-serif;
}