:root{
    --color-background-primary: #d8d8d8;
    --color-background-secundary: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --color-primary: #ffffff;
    --color-secundary: #32264d;
    --color-title-in-primary: #ffffff;
    --color-text-in-primary: #c2cdff;
    --color-text-title: #32264d;
    --color-text-base: #c4b3eb;
    --color-line-in-white: #e6e6f0;
    --color-input-background: #f8f8fc;
    --color-button-background: #32264d;
    --color-button-text: #ffffff;
    font-size: 60%; /* rem control measures */
}