#login-page {
    width: 100vw;
    height: 100vh;
    background: var(--color-background-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90vw;
    height: 50vh;
    max-width: 400px;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}

.logo-container h1 {
    font-size: 2.6rem;
    color: var(--color-title-in-primary);
    line-height: 4.6rem;
    margin: 0.8rem 0;
}

.logo-container img {
    height: 10rem;
}

.logo-container p {
    color: var(--color-title-in-primary);
    margin-bottom: 0.8rem;
}

.input-box p {
    float: left;
    color: var(--color-text-in-primary);
    margin-top: 0.8rem;
    margin-left: 3rem;
}

.input-box input {
    margin-left: 0.8rem;
    border: var(--color-line-in-white);
    border-radius: 0.8rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

button {
    margin-top: 4rem;
    background: var(--color-button-background);
    color: var(--color-button-text);
    width: 9rem;
    height: 3.2rem;
    border-radius: 0.8rem;
    border: none;
    text-decoration: none;
}
