:root {
    font-size: 60%;
}

#login-page {
    width: 100vw;
    height: 100vh;
    background: var(--color-background-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-page .container {
    width: 90vw;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container .logo-container h1 {
    font-size: 2.6rem;
    color: var(--color-title-in-primary);
    line-height: 4.6rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}

.container .logo-container img {
    height: 10rem;
}

.container .logo-container p {
    color: var(--color-title-in-primary);
    margin-bottom: 0.8rem;
}

.container .input-box {
    position: relative;
    width: 90%;
}

.container .input-box p {
    float: left;
    color: var(--color-text-in-primary);
    margin-top: 0.8rem;
}

.container .input-box .icon {
    position: absolute;
    top: 3.4rem;
    left: -0.1rem;    
}

.container .input-box input {
    width: 100%;
    border: var(--color-line-in-white);
    border-radius: 2rem;
    padding: 0.5rem;
    padding-left: 5rem;
    box-sizing: border-box;
}

.container .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    background: var(--color-button-background);
    color: var(--color-button-text);
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: backgraundo-color 0.2s;
}

.container .login-button .sign {
    margin-left: 0.5rem;
}

.container .login-button:hover {
    background: var(--color-button-hover);
}
